#shortcutAlert {
  width: 100% !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(calc(-50% - 22px));
  -webkit-transform: translateY(calc(-50% - 22px));
  text-align: center !important;
  z-index: 120000 !important;
  margin: auto !important;
  transition: opacity 0.2s ease-in-out !important;
  -webkit-transition: opacity 0.2s ease-in-out !important;
}

#shortcutAlert.hidden {
  opacity: 0 !important;
}

#shortcutAlert.visible {
  opacity: 1 !important;
  transition: 0 !important;
  -webkit-transition: 0 !important;
}

#shortcutAlertText {
  color: white !important;
  background-color: rgba(1, 1, 1, 0.6) !important;
  display: inline !important;
  padding: 15px !important;
  border-radius: 10px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
}

body.largeVideo {
  overflow: hidden !important;
}

#cbsi-player-embed.largeVideo {
  z-index: 110000 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

#video_BBLF_SKIN_UVPJS_CONTAINER {
  width: 100% !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(calc(-50% - 22px));
  -webkit-transform: translateY(calc(-50% - 22px));
  visibility: visible !important;
  height: auto !important;
  max-height: calc(100% - 45px) !important;
  margin-right: inherit !important;
  margin-left: inherit !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#bbl-promo {
  visibility: hidden;
}

.controls {
  display: block !important;
  opacity: 1 !important;
}
