body {
  background-color: rgb(64, 64, 64);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
  padding: 10px 20px;
  user-select: none;
  width: 260px;
}

h2 {
  font-size: 16pt;
  margin-bottom: 30px;
  text-align: center;
}

.code {
  border-radius: 3px;
  border: 1px white solid;
  display: inline-block;
  min-width: 20px;
  padding: 0px 6px;
  text-align: center;
}

.list {
  font-size: 11pt;
  line-height: 32px;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  width: 240px;
}

.list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list > li > span {
  margin: 3px 0px;
}

.lineBreak {
  display: block;
  margin: 15px 0;
}
